<div class="container text-center background_projects py-3">
    <h1 class="title_projects">Proyectos 2020-2021</h1>
  <div class="row  justify-content-center gy-5 gx-5 my-0 my-md-3" style="
  margin-right: 0px;
  margin-left: 0px;">
    <div class=" card col-10 col-md-5 text-center p-0 card-project mx-md-4 mx-0" *ngFor="let project of projects" >
      <div class="card-header ">
        <h2 class="m-2">{{project.title}}</h2>
      </div>
      <img  *ngIf="project.url_video.length==0" class="card-img-top" width="280" height="auto" [src]="project.url_background"  alt="">
      <video *ngIf="project.url_video.length>0" width="auto" height="auto"  autoplay="autoplay" controls>
        <source [src]="project.url_video" type="video/mp4">
        Your browser does not support HTML video.
      </video> 
    <div class="card-footer">
     <div class="d-flex justify-content-between card-text text-center pb-1" style="border-bottom: solid 1px white;">
      <a target="_blank"  [href]="project.url_github"   class="btn btn_github"  style="color: black;font-weight: bold;"> Ver en Github
      <img class="img_github" src="https://cdn-icons-png.flaticon.com/512/25/25231.png" alt="">
      
     </a>
     <button class="btn btn_github font-weight-bold" style="color: black;font-weight: bold;" (click)="triggerModal(modalData,project.description )">
        Descripcion<img  class="img_github" src="https://cdn0.iconfinder.com/data/icons/communication-thick-true-line-black-and-white/64/comment-text-message-bubble-512.png" alt="">
     </button>
    </div> 
     <div class="row justify-content-center pt-1">
      <h4 style="  color: #11ECE5;" >Tecnologías</h4>
         <div class="col-4 col-md-3 mt-3" *ngFor="let tech of project.technologies">
            <img  class="logo_tech" [src]="tech.url_tech" alt=""> 
         </div>
      </div>
    </div>
  </div>
 </div>
</div>


<ng-template #modalData let-modal >
  <div class="modal-header card-project text-center">
    <h4 class="modal-title" id="modal-basic-title" style="  color: #11ECE5;">Descripción</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">×</span>
    </button>
  </div>
  <div class="modal-body card-project" style="color: white;">
    <p>{{description}}
    </p>
  </div>
  <div class="modal-footer card-project">
    <button class="btn btn_github font-weight-bold" style="color: black;font-weight: bold;"(click)="modal.close('Save click')">
     Cerrar
   </button>
  </div>
</ng-template>
