/* portafolio */

.card-project{
    background-color: #111C2E;
}
.card-header{
  color: #11ECE5;
}
.btn_github{
  background-color: #11ECE5;
}
.img_github{
  width: 40px ;
  margin: 4px;
}

.logo_tech{
  height: 60px;
}

.title_projects{
  color:white;
  font-size: 50px;
}
