/* portafolio */

.card-project{
    background-color: #111C2E;
}
.card-header{
  color: #11ECE5;
}
.btn_github{
  background-color: #11ECE5;
}
.img_github{
  width: 30px ;
  margin: 1px;
}

.logo_tech{
  height: 50px;
  max-width: 65px;
}

@media (max-width: 992px) {
  .logo_tech{
    height: 40px;
    
  max-width: 55px;
  }
}

.title_projects{
  color:white;
  font-size: 50px;
}
